
.jumbotron{
   padding: 10px;
   margin: 160px;
    /* background: white; */
}

body{
    background: url('../img/a.png') no-repeat center center fixed;
    background-size: cover;
}
.bakcolor{
    background: #ffffffb5;
    color: black;
}
